.contenedor{
    display: flex;
    justify-content: center;

}
table{
    border-collapse:collapse ;
    border: 2px solid gray;
    letter-spacing: 1px;
    font-size: 1.5em;
    background-color: rgb(156, 155, 155);

}
th{
    border: 1px solid gray;
    padding: 10px;
    background-color: rgb(201, 198, 198)


}
td{
    border:1px solid gray;
    padding: 10px;
   

}
h2{
    margin: 0;
    padding: 20px;

}
tr:hover{
    background-color: grey;
}

